body {
  margin: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.banner {
  width: 100%;
  display: block;
}

/* Áreas clicáveis */
.area {
  position: absolute;
  cursor: pointer;
}

/* Linha superior */
.cs2 {
  top: 32%;
  left: 6%;
  width: 24%;
  height: 22%;
}

.video {
  top: 32%;
  left: 38%;
  width: 24%;
  height: 22%;
}

.montagem {
  top: 32%;
  left: 70%;
  width: 24%;
  height: 22%;
}

/* Linha inferior */
.imagem {
  top: 62%;
  left: 22%;
  width: 24%;
  height: 22%;
}

.informatica {
  top: 62%;
  left: 54%;
  width: 24%;
  height: 22%;
}
