body {
  margin: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.banner {
  width: 100%;
  display: block;
}

/* Áreas clicáveis */
.area {
  position: absolute;
  cursor: pointer;
}

/* Ajuste fino das posições (pode alterar depois) */
.cs2 {
  top: 30%;
  left: 5%;
  width: 25%;
  height: 25%;
}

.video {
  top: 30%;
  left: 37%;
  width: 25%;
  height: 25%;
}

.montagem {
  top: 30%;
  left: 69%;
  width: 25%;
  height: 25%;
}

.imagem {
  top: 62%;
  left: 20%;
  width: 25%;
  height: 25%;
}

.informatica {
  top: 62%;
  left: 52%;
  width: 25%;
  height: 25%;
}
